body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding:16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: #04AA6D;
  color: white;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
@media screen and(max-width : 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 10px; padding: 0px;}
}
  @media screen and (max-width: 768px) {
    .sidenav 
    {
      display: flex;
      position: inherit;
      width: 100%;
      height: auto;
      padding-top: 10px;
    }
    .sidenav a {font-size: 18px; padding: 10px;}
    .UploadFile .container {
      padding: 0px;
    }
  }
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}
body{

    background-color: cornsilk;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    height: 100vh;
    display: grid;
    place-items: center;
    
}
.profilebox{
    font-weight: 800;
    color: crimson;
    padding: 30px;
    background-color: white;
    box-shadow: 3px 7px 24px -1px rgba(0,0,0,0.3);
-webkit-box-shadow: 3px 7px 24px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 3px 7px 24px -1px rgba(0,0,0,0.3);
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    text-align: center;
}
.container .profilebox img{
 border-radius: 50%;
width: 200px;
height: 200px;
}
.container .profilebox h2 , .container .profilebox h4{
    margin: 10px;
}
.container .profilebox .edit ,  #select ,#upload{
    background-color: transparent;
    border:  2px solid  crimson;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-weight: bolder;
    
}
.container .profilebox .edit:hover , #select:hover , #upload:hover{
background-color: crimson;
color: white;
}
.none{
    display: none;
}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #custom-button:hover {
    background-color: #00b28f;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  #myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }
  #anker{
    color: crimson;
   cursor: pointer;
}
#anker:hover{
    color: blue;
    
}

.videos {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos__container , .videos_Watch_Later {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 310px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}
.video:hover{
  background-color: #e5e5e5;
}
.video__thumbnail {
  width: 100%;
  height: 170px;
}

.video__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}
.UploadFile{
  min-height: 100vh;
}
.video-box{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
  height: 100%; 
}
.UploadFile .container{
  max-width: 600px;
  height: 550px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
}
.drag-area {
  width: 400px;
  height: 400px;
  border: 3px dashed #e0eafc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
}

h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.drag-area .icon {
  font-size: 50px;
  color: #1683ff;
}

.drag-area .header {
  font-size: 20px;
  font-weight: 500;
  color: #34495e;
}

.drag-area .support {
  font-size: 12px;
  color: gray;
  margin: 10px 0 15px 0;
}

.drag-area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}

.drag-area.active {
  border: 2px solid #1683ff;
}

.drag-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#skill { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 296px;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}
#skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
	position:relative; 
	top:-25px;
}
.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}
.jquery {
	width:1%;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
	background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: linear-gradient(top, #a1ce5b, #91ba52);
}   
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:100%;}  }
@media (max-width:768px) {
  .main{
    margin-left: 0px;
  }
  .UploadFile .container {
    padding: 0px;
  }
  .drag-area{
    width: 300px;
    height: 300px;
  }
  .video-box #video{
    width: auto;
    height: 200px;
  }
  .container{
    width: 100%;
  }
}

#Upload_btn{
  background-color: transparent;
  border: 2px solid crimson;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-weight: bolder;
}